<div id="header" class="banner">
    <div >
        <img id="bonnie-img" src="assets/Logo.png">
    </div>
    <div id="navbar" class="navbar" *ngIf="userService.isLoggedIn()">
        <button type="button" (click)="toAllOrders()" class="button">All Orders</button>
        <button type="button" (click)="toMyOrders()" class="button">My Orders</button>
        <button type="button" (click)="toUnassignedOrders()" class="button">Unassigned Orders</button>
        <button type="button" (click)="toUsers()" class="button">Users</button>
    </div>
</div>