#bonnie-img {
    height: 8vh;
    float: left;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 100vw;
    height: 8vh;
    background-color: #ff6600;
    margin-bottom: 5vh;
}

.white-icon {
    color: white;
}