<table mat-table [dataSource]="dataFields"  *ngIf="dataFields.length">

    <ng-container  matColumnDef="key">
        <td mat-cell *matCellDef="let element"> {{columnNameMapping[element.key]}} </td>
    </ng-container>

    <ng-container  matColumnDef="value">
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button *ngIf="order?.status == 'ASSEMBLED'" color="primary" (click)="openTrackingNr(order!)">Set tracking nr</button>
<button mat-raised-button *ngIf="order?.status == 'CLAIMED'" color="primary" (click)="releaseOrder(order!.id!)" routerLink="/my-orders">Release order</button>
<button mat-raised-button *ngIf="order?.status == 'NEW'" color="primary" (click)="claimOrder(order!.id!)" routerLink="/my-orders">Claim order</button>