<table class="styled-table">
    <thead>
    <tr>
        <th>GoodsId</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Assigned</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="result">
        <tr *ngFor="let order of orders">
            <td><a routerLink="/order/{{order.id}}">{{order.goodsId}}</a></td>
            <td>{{order.quantity}}</td>
            <td>{{order.status}}</td>
            <td><span *ngIf="order.assignedTo">{{order.assignedTo.name}}</span></td>
            <td>
                <button mat-raised-button *ngIf="order.status == 'ASSEMBLED'" color="primary" (click)="openTrackingNr(order)">Set tracking nr</button>
            </td>
        </tr>
    </tbody>
</table>