<table mat-table [dataSource]="orders"  *ngIf="orders.length">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="table_header"> GoodsId </th>
        <td mat-cell *matCellDef="let element" class="table_field">
            <a mat-flat-button routerLink="/order/{{element.id}}">{{element.goodsId}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef  class="table_header"> Quantity </th>
        <td mat-cell *matCellDef="let element" class="table_field"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="table_header"> Status </th>
        <td mat-cell *matCellDef="let element" class="table_field"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="assignedTo">
        <th mat-header-cell *matHeaderCellDef class="table_header"> Assigned to </th>
        <td mat-cell *matCellDef="let element" class="table_field"><span *ngIf="element.assignedTo">{{element.assignedTo.name}}</span></td>
    </ng-container>

    <ng-container matColumnDef="trackingNr">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let order">
          <button mat-raised-button *ngIf="order.status == 'ASSEMBLED'" color="primary" (click)="openTrackingNr(order)">Set tracking nr</button>
          <button mat-raised-button *ngIf="order.status == 'CLAIMED'" color="primary" (click)="releaseOrder(order.id!)">Release order</button>
          <button mat-raised-button *ngIf="order.status == 'CLAIMED'" color="primary" (click)="finishOrder(order.id!)">Finish order</button>
          <button mat-raised-button *ngIf="order.status == 'NEW'" color="primary" (click)="claimOrder(order.id!)">Claim order</button>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="!orders.length">
    Could not find orders
</div>
