@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.login {
    position: relative;
    left: 120%;
    bottom: 150;
}

.loginform {
    position: relative;
    right: 7%;
    bottom: 30px;
}

.checkbox {
    position: relative;
    bottom: 16;
}

body {
    margin: 0px;
    background-color: #fff5ea
}