.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
  
.form-signin .form-control:focus {
  z-index: 2;
}

.login_form_field {
  width: 100%;
}

.fb_login {
  margin-left: 15px;
}

.blue-icon {
  color: blue;
}